<a class="button hover-animation" href="{% if section.settings.collection != blank %}{{ collection.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}">
  <span class="button-text">{{ 'modules.featured_products.view_collection' | t: collection: collection.title }}</span>
</a>
