<h1 class="page-header">{{ 'error.404.heading' | t }}</h1>

<div class="grid">
  <main class="page page-wrapper rich-text grid-item grid-item-66 rte">
    {{ 'error.404.subheading_html' | t }}
  </main>
</div>