.main-navigation {
    z-index: 1
}

.footer-tapbar {
    z-index: 2
}

.header-search-results-wrapper {
    z-index: 3
}

.header-search-input-wrapper {
    z-index: 4
}

.product-info {
    z-index: 5
}

.main-header {
    z-index: 6
}

.main-navigation-wrapper {
    z-index: 7
}

.header-wrapper {
    z-index: 8
}

.product-message {
    z-index: 9
}

.product-images-lightbox {
    z-index: 10
}

.slideshow-title {
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased
}

.screen-reader {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(1px, 1px, 1px, 1px)
}

.slideshow-content {
    -webkit-transition: padding .2s cubic-bezier(.25, .46, .45, .94);
    -moz-transition: padding .2s cubic-bezier(.25, .46, .45, .94);
    transition: padding .2s cubic-bezier(.25, .46, .45, .94);
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px
}

@media (max-width:720px) {
    .slideshow-content {
        padding-left: 24px;
        padding-right: 24px
    }
}

.lt-ie9 .slideshow-content {
    width: 1280px
}

.grid {
    font-size: 0
}

.grid-item,
[class*=grid-item] {
    font-size: var(--body-size);
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    vertical-align: top
}

@media (max-width:720px) {

    .grid-item,
    [class*=grid-item] {
        font-size: var(--body-size-mobile)
    }
}

.grid-item-100 {
    display: block;
    width: 100%
}

.grid-item-83 {
    width: 83.333%
}

.grid-item-75 {
    width: 75%
}

.grid-item-70 {
    width: 70%
}

.grid-item-66 {
    width: 66.666%
}

.grid-item-60 {
    width: 60%
}

.grid-item-58 {
    width: 58.333%
}

.grid-item-55 {
    width: 55%
}

.grid-item-50 {
    width: 50%
}

.grid-item-45 {
    width: 45%
}

.grid-item-41 {
    width: 41.666%
}

.grid-item-40 {
    width: 40%
}

.grid-item-35 {
    width: 35%
}

.grid-item-33 {
    width: 33.333%
}

.grid-item-30 {
    width: 30%
}

.grid-item-27 {
    width: 26.666%
}

.grid-item-25 {
    width: 25%
}

.grid-item-20 {
    width: 20%
}

.grid-item-16 {
    width: 16.666%
}

.grid-item-15 {
    width: 15%
}

.grid-item-12 {
    width: 12%
}

.grid-item-10 {
    width: 10%
}

.grid-item-5 {
    width: 5%
}

.index-wrapper .section-index-slideshow {
    margin-top: 0;
    margin-bottom: 0
}

.slideshow-wrapper {
    position: relative
}

.slideshow-wrapper:not(.slideshow-same-height) img {
    height: 65vh;
    object-fit: cover;
    object-position: top
}

.slideshow-wrapper:not(.slideshow-same-height) .slick-list,
.slideshow-wrapper:not(.slideshow-same-height) .slick-track,
.slideshow-wrapper:not(.slideshow-same-height) .slideshow-content-wrapper {
    height: 65vh
}

.slideshow-wrapper:not(.slideshow-same-height) .slideshow-content-wrapper {
    top: 0;
    bottom: 0
}

@media (max-width:720px) {
    .slideshow-wrapper:not(.slideshow-same-height) .svg-placeholder {
        height: 65vh
    }
}

@media (max-width:720px) {

    .slideshow-wrapper .svg-placeholder,
    .slideshow-wrapper img {
        object-fit: cover;
        height: 100vh
    }
}

.slideshow-wrapper img {
    display: block;
    width: 100%
}

.slideshow-wrapper iframe {
    display: block
}

.slideshow-wrapper .svg-placeholder {
    display: block;
    background: #696969;
    height: 50vw;
    width: 100%
}

.slideshow-wrapper .svg-placeholder svg {
    display: block;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto
}

.slideshow-wrapper .slick-arrow {
    position: absolute;
    bottom: 40px;
    z-index: 1;
    width: 44px;
    height: 44px;
    padding: 0;
    background: 0 0;
    border: 0
}

@media (min-width:721px) {
    .slideshow-wrapper .slick-arrow {
        opacity: 0;
        visibility: hidden;
        transition: all .2s cubic-bezier(.25, .46, .45, .94)
    }
}

@media (max-width:720px) {
    .slideshow-wrapper .slick-arrow {
        display: none !important
    }
}

.slideshow-wrapper .slick-arrow svg {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-color: var(--background-color);
    color: var(--link-color)
}

.slideshow-wrapper .slick-arrow:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid var(--link-color);
    opacity: .2
}

.slideshow-wrapper .slick-prev,
.slideshow-wrapper .slick-previous {
    left: 40px;
    top: 50%;
}

@media (min-width:721px) {

    .slideshow-wrapper .slick-prev,
    .slideshow-wrapper .slick-previous {
        transform: translateX(-40px)
    }
}

@media (max-width:720px) {

    .slideshow-wrapper .slick-prev,
    .slideshow-wrapper .slick-previous {
        left: 16px;
    }
}

.slideshow-wrapper .slick-prev svg,
.slideshow-wrapper .slick-previous svg {
    transform: scaleX(-1)
}

.slideshow-wrapper .slick-next {
    right: 40px;
    top: 50%;
}

@media (min-width:721px) {
    .slideshow-wrapper .slick-next {
        transform: translateX(40px)
    }
}

@media (max-width:720px) {
    .slideshow-wrapper .slick-next {
        right: 16px
    }
}

.slideshow-wrapper:hover .slick-arrow {
    opacity: 1;
    visibility: visible;
    transform: translateX(0)
}

.slideshow-wrapper .slick-dots {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 4px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 0
}

.no-js .slideshow-wrapper .slick-dots {
    display: none
}

.slideshow-wrapper .slick-dots li {
    display: inline-block;
    width: 50%;
    height: 100%
}

.slideshow-wrapper .slick-dots li.slick-active button {
    background-color: var(--link-color)
}

.slideshow-wrapper .slick-dots button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: var(--border-color);
    border: 0;
    border-radius: 0;
    text-indent: -9999px;
    outline: 0;
    transition: background-color .3s cubic-bezier(.25, .46, .45, .94)
}

.slideshow-image {
    position: relative
}

.slideshow-image>a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.slideshow-content-wrapper {
    position: absolute;
    top: 80px;
    bottom: 80px;
    display: flex;
    width: 100%;
    align-items: center
}

@media (max-width:960px) {
    .slideshow-content-wrapper {
        top: 70px;
        bottom: 70px
    }
}

@media (max-width:720px) {
    .slideshow-content-wrapper {
        top: 30px;
        bottom: 30px
    }
}

@media (max-width:500px) {
    .slideshow-content-wrapper {
        top: 15px;
        bottom: 15px
    }
}

.slideshow-content-wrapper.justify-content-start {
    justify-content: flex-start
}

.slideshow-content-wrapper.justify-content-center {
    justify-content: center
}

.slideshow-content-wrapper.justify-content-end {
    justify-content: flex-end
}

.slideshow-content-wrapper.align-items-end {
    align-items: flex-end;
    padding-bottom: 24px
}

.slideshow-content-wrapper.left {
    text-align: left
}

.slideshow-content-wrapper.center {
    text-align: center
}

.slideshow-content-wrapper.right {
    text-align: right
}

.slideshow-content {
    display: flex
}

.slideshow-content.justify-content-start {
    justify-content: flex-start
}

.slideshow-content.justify-content-center {
    justify-content: center
}

.slideshow-content.justify-content-end {
    justify-content: flex-end
}

.slideshow-content-inner {
    display: block;
    max-width: 47%
}

@media (max-width:720px) {
    .slideshow-content-inner {
        max-width: 60%
    }
}

@media (max-width:500px) {
    .slideshow-content-inner {
        max-width: 85%
    }
}

.slideshow-content-wrapper.center .slideshow-content-inner {
    max-width: 60%
}

@media (max-width:720px) {
    .slideshow-content-wrapper.center .slideshow-content-inner {
        max-width: 75%
    }
}

@media (max-width:500px) {
    .slideshow-content-wrapper.center .slideshow-content-inner {
        max-width: 90%
    }
}

#shopify-section-hero .slideshow-title {
    font-size: 30px;
    font-size: 3rem
}

.slideshow-title {
    font-size: 20px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: calc(24px - 6px)
}

@media (max-width:720px) {
    .slideshow-title {
        font-size: 16px;
        font-size: 1.6rem
    }
}

p.slideshow-text {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
    margin-bottom: calc(24px + 8px)
}

@media (max-width:720px) {
    p.slideshow-text {
        font-size: 12px;
        font-size: 1.2rem
    }
}

.slideshow-button {
    margin-bottom: 0
}

@media (max-width:720px) {
    .slideshow-button {
        font-size: 12px;
        font-size: 1.2rem
    }
}

.slideshow-image-overlay:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(5, 5, 5, .6)), to(rgba(55, 55, 55, .2)));
    background-image: linear-gradient(to top, rgba(5, 5, 5, .6), rgba(55, 55, 55, .2));
    z-index: 1
}

.slideshow-image-overlay>* {
    z-index: 100
}

.section-index-slideshow .first-fade,
.section-index-slideshow .second-fade,
.section-index-slideshow .third-fade {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    animation-fill-mode: forwards
}

@keyframes slideshowFade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.section-index-slideshow .single-slide .first-fade,
.section-index-slideshow .slick-active .first-fade {
    animation: 1s cubic-bezier(.25, .75, .25, 1) .1s 1 forwards slideshowFade
}

.section-index-slideshow .single-slide .second-fade,
.section-index-slideshow .slick-active .second-fade {
    animation: 1s cubic-bezier(.25, .75, .25, 1) .4s 1 forwards slideshowFade
}

.section-index-slideshow .single-slide .third-fade,
.section-index-slideshow .slick-active .third-fade {
    animation: 1s cubic-bezier(.25, .75, .25, 1) .7s 1 forwards slideshowFade
}

.slideshow-same-height .slideshow-image {
    min-height: auto !important
}

.slideshow-same-height .slick-slide,
.slideshow-same-height .slick-track {
    min-height: 100vh !important
}

@media (min-width:721px) {

    .slideshow-same-height.slideshow-wrapper .svg-placeholder,
    .slideshow-same-height.slideshow-wrapper img {
        object-fit: cover;
        height: 100vh
    }
}