.main-navigation {
    z-index: 1
}

.footer-tapbar {
    z-index: 2
}

.header-search-results-wrapper {
    z-index: 3
}

.header-search-input-wrapper {
    z-index: 4
}

.product-info {
    z-index: 5
}

.main-header {
    z-index: 6
}

.main-navigation-wrapper {
    z-index: 7
}

.header-wrapper {
    z-index: 8
}

.product-message {
    z-index: 9
}

.product-images-lightbox {
    z-index: 10
}

.header {
    -webkit-transition: padding .2s cubic-bezier(.25, .46, .45, .94);
    -moz-transition: padding .2s cubic-bezier(.25, .46, .45, .94);
    transition: padding .2s cubic-bezier(.25, .46, .45, .94);
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px
}

@media (max-width:720px) {
    .header {
        padding-left: 24px;
        padding-right: 24px
    }
}

.lt-ie9 .header {
    width: 1280px
}

.grid {
    font-size: 0
}

.grid-item,
[class*=grid-item] {
    font-size: var(--body-size);
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    vertical-align: top
}

@media (max-width:720px) {

    .grid-item,
    [class*=grid-item] {
        font-size: var(--body-size-mobile)
    }
}

.grid-item-100 {
    display: block;
    width: 100%
}

.grid-item-83 {
    width: 83.333%
}

.grid-item-75 {
    width: 75%
}

.grid-item-70 {
    width: 70%
}

.grid-item-66 {
    width: 66.666%
}

.grid-item-60 {
    width: 60%
}

.grid-item-58 {
    width: 58.333%
}

.grid-item-55 {
    width: 55%
}

.grid-item-50 {
    width: 50%
}

.grid-item-45 {
    width: 45%
}

.grid-item-41 {
    width: 41.666%
}

.grid-item-40 {
    width: 40%
}

.grid-item-35 {
    width: 35%
}

.grid-item-33 {
    width: 33.333%
}

.grid-item-30 {
    width: 30%
}

.grid-item-27 {
    width: 26.666%
}

.grid-item-25 {
    width: 25%
}

.grid-item-20 {
    width: 20%
}

.grid-item-16 {
    width: 16.666%
}

.grid-item-15 {
    width: 15%
}

.grid-item-12 {
    width: 12%
}

.grid-item-10 {
    width: 10%
}

.grid-item-5 {
    width: 5%
}

.header-logo a,
.header-tools .header-cart-count {
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased
}

.header--font,
.page-header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color: var(--header-color);
    text-transform: var(--header-text-transform);
    letter-spacing: var(--header-letter-spacing)
}

.errors>:first-child,
.rich-text>:first-child {
    margin-top: 0
}

.errors>:last-child,
.rich-text>:last-child {
    margin-bottom: 0
}

.screen-reader {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(1px, 1px, 1px, 1px)
}

.header--font,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
    margin: 0 0 16px 0
}

h1 {
    font-size: 35px;
    font-size: 3.5rem;
    margin: 0 0 24px 0
}

h2 {
    font-size: 25px;
    font-size: 2.5rem
}

h3 {
    font-size: 16px;
    font-size: 1.6rem
}

h4 {
    font-size: var(--body-size)
}

@media (max-width:720px) {
    h4 {
        font-size: var(--body-size-mobile)
    }
}

.header--font,
h5 {
    font-size: var(--body-size)
}

@media (max-width:720px) {

    .header--font,
    h5 {
        font-size: var(--body-size-mobile)
    }
}

h6 {
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3em
}

a {
    -webkit-transition: color .2s cubic-bezier(.25, .46, .45, .94);
    -moz-transition: color .2s cubic-bezier(.25, .46, .45, .94);
    transition: color .2s cubic-bezier(.25, .46, .45, .94);
    text-decoration: none;
    color: var(--link-color)
}

a:hover {
    color: var(--link-hover-color)
}

.rte a {
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    -webkit-transition: padding-bottom .15s ease-in-out;
    -moz-transition: padding-bottom .15s ease-in-out;
    -o-transition: padding-bottom .15s ease-in-out;
    transition: padding-bottom .15s ease-in-out
}

.rte a:focus,
.rte a:hover {
    padding-bottom: 3px
}

.rte a img {
    display: block
}

.page-header-wrapper {
    position: relative;
    margin: 24px auto 24px;
    max-width: 1280px
}

@media (max-width:720px) {
    .page-header-wrapper {
        margin-top: 18px;
        margin-bottom: 18px
    }

    .page-header-wrapper:not(.product-title) {
        padding-right: 20px;
        padding-left: 20px
    }
}

.page-header-wrapper:not(.product-title) {
    padding-left: 30px;
    padding-right: 30px
}

.page-header {
    font-size: 30px;
    margin: 40px auto 0px auto;
    max-width: 1280px
}

@media (max-width:720px) {
    .page-header {
        margin-top: 24px;
        margin-bottom: 16px
    }

    .page-header:not(.product-title) {
        padding-right: 20px;
        padding-left: 20px
    }
}

.page-header:not(.product-title) {
    padding-left: 20px;
    padding-right: 20px
}

.page-header:not(.product-title) {
    text-align: center
}

.page-header.with-context {
    font-weight: 400
}

.page-header.simple {
    margin: 0;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
    text-align: left
}

.page-header-wrapper .page-header {
    margin: 0;
    max-width: none;
    padding-right: 0;
    padding-left: 0
}

.errors {
    font-size: var(--body-size);
    padding: 6px 8px;
    color: var(--error-color);
    border: 1px solid var(--error-color);
    background: var(--error-background)
}

.errors ul {
    padding: 0;
    list-style: none
}

.rich-text img {
    height: auto
}

.index-subheading {
    font-size: var(--subheading-size)
}

.main-header {
    position: relative;
    color: var(--header-text-color);
    background-color: var(--header-background-color)
}

@media (max-width:720px) {
    .main-header {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: var(--box-shadow);
        transition: transform .3s cubic-bezier(.25, .46, .45, .94)
    }

    .main-header.out-of-view {
        transform: translateY(-100%)
    }

    .no-js .main-header {
        position: static
    }
}

.main-header.is-fullbleed {
    position: absolute;
    width: 100%;
    z-index: 200;
    transition: all .2s cubic-bezier(.25, .46, .45, .94)
}

@media (min-width:721px) {
    .main-header.is-fullbleed {
        background-color: transparent
    }

    .main-header.is-fullbleed.search-open,
    .main-header.is-fullbleed:hover {
        background-color: var(--header-background-color);
        box-shadow: var(--box-shadow)
    }
}

@media (max-width:720px) {
    .main-header.is-fullbleed {
        position: fixed;
        padding-bottom: 0
    }
}

.scroll-locked .main-header {
    z-index: 9
}

.main-header:hover .overlay-logo--enabled .header-logo-fullbleed {
    height: 0
}

.main-header:hover .overlay-logo--enabled .header-logo-original {
    height: auto
}

.header-wrapper {
    position: relative
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    transition: padding .2s cubic-bezier(.25, .46, .45, .94)
}

@media (max-width:720px) {
    .header {
        min-height: 0;
        padding: 0
    }
}

.no-flexbox .header {
    display: table
}

@media (min-width:721px) {
    .header:not(.header--logo-center) {
        flex-wrap: wrap
    }

    .header:not(.header--logo-center) .header-logo {
        flex: 1 1 33%
    }

    .header:not(.header--logo-center) .header--logo-left-search {
        display: flex;
        align-items: center;
        padding: 0 16px;
        text-align: center;
        flex: 1 1 33%
    }

    .header:not(.header--logo-center) .header--logo-left-search .header-search-form-wrapper:not(.header-search-form-style-boxed) {
        padding: 0;
        max-width: 100%
    }

    .header:not(.header--logo-center) .header--logo-left-search .header-search-form-wrapper:not(.header-search-form-style-boxed) .header-search-input-wrapper {
        justify-content: center
    }

    .header:not(.header--logo-center) .header--logo-left-search .header-search-form-wrapper:not(.header-search-form-style-boxed) .header-search-input-wrapper label {
        width: auto
    }

    .header:not(.header--logo-center) .header--logo-left-search .header-search-form-wrapper:not(.header-search-form-style-boxed) .header-search-input-wrapper label button {
        position: relative;
        top: 0;
        left: 18px
    }

    .header:not(.header--logo-center) .header--logo-left-search .header-search-form-wrapper:not(.header-search-form-style-boxed) .header-search-input-wrapper label .header-search-text {
        left: 0;
        display: flex;
        align-items: center
    }

    .header:not(.header--logo-center) .header--logo-left-search .header-search-form-wrapper:not(.header-search-form-style-boxed) .header-search-input-wrapper label .header-search-text.hidden {
        display: none
    }

    .header:not(.header--logo-center) .header--logo-left-search .header-search-form-wrapper:not(.header-search-form-style-boxed) .header-search-input-wrapper label .header-search-clear {
        top: 0
    }

    .header:not(.header--logo-center) .header--logo-left-search .header-search-form-wrapper:not(.header-search-form-style-boxed) .header-search-input-wrapper label input {
        padding-left: 8px;
        padding-right: 24px
    }

    .header:not(.header--logo-center) .header-tools {
        flex: 1 1 33%
    }
}

.header--full-width,
.main-navigation-wrapper--full-width {
    max-width: 100%
}

.header--logo-center-search {
    display: flex;
    align-items: center;
    flex: 1 1 100%
}

@media (max-width:720px) {
    .header--logo-center-search {
        display: none
    }
}

.no-flexbox .header--logo-center-search {
    display: table-cell;
    vertical-align: middle
}

.header-logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-right: 30px;
    font-size: 0;
    text-align: center
}

@media (max-width:720px) {
    .header-logo {
        width: calc(100% - 100px);
        padding-top: 10px;
        padding-right: 0;
        padding-bottom: 10px;
        text-align: center
    }
}

@media (min-width:961px) {
    .header-logo .logo--left-align {
        text-align: left
    }
}

@media (min-width:721px) {
    .main-header.is-fullbleed:not(:hover) .header-logo.overlay-logo--enabled .header-logo-fullbleed {
        opacity: 1;
        visibility: visible;
        position: relative
    }

    .main-header.is-fullbleed:not(:hover) .header-logo.overlay-logo--enabled .header-logo-original {
        opacity: 0;
        visibility: hidden;
        height: 0
    }
}

@media (max-width:720px) {
    .main-header.is-fullbleed:not(:hover) .header-logo.overlay-logo--enabled .header-logo-original {
        opacity: 1;
        visibility: visible;
        position: relative
    }

    .main-header.is-fullbleed:not(:hover) .header-logo.overlay-logo--enabled .header-logo-fullbleed {
        opacity: 0;
        visibility: hidden;
        height: 0
    }
}

.no-flexbox .header-logo {
    display: table-cell;
    vertical-align: middle
}

.header-logo h2 {
    display: block;
    margin: 0;
    font-family: var(--header-font);
    font-size: 16px;
    vertical-align: middle
}

@media (max-width:720px) {
    .header-logo h2 {
        margin-right: auto;
        margin-left: auto;
        font-size: 25px
    }
}

.header-logo a {
    position: relative;
    display: block;
    color: var(--header-text-color)
}

.header-logo img {
    display: block;
    transition: all .2s cubic-bezier(.25, .46, .45, .94)
}

.header-logo .header-logo-fullbleed {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden
}

.header-tools {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: var(--header-text-color);
    text-align: right;
    flex-grow: 1
}

@media (max-width:720px) {
    .header-tools {
        width: 50px;
        padding-right: 24px
    }
}

@media (max-width:720px) {

    .header-tools .header-account,
    .header-tools .header-localization {
        display: none
    }
}

.no-flexbox .header-tools {
    display: table-cell;
    vertical-align: middle
}

.header-tools>ul {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    margin: 0
}

.no-flexbox .header-tools>ul {
    display: inline-block
}

.header-tools>ul>li {
    display: inline-block;
    vertical-align: middle
}

@media (max-width:720px) {
    .header-tools>ul>li {
        margin-left: 0
    }
}

.header-tools .header-account>a,
.header-tools .header-cart>a {
    color: var(--header-text-color);
    padding: 14px
}

@media (max-width:720px) {

    .header-tools .header-account>a,
    .header-tools .header-cart>a {
        height: 44px;
        width: 44px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center
    }
}

.header-tools .header-account>a>svg,
.header-tools .header-cart>a>svg {
    color: currentColor;
    vertical-align: bottom
}

.header-tools .header-account>a {
    position: relative
}

.header-tools .header-account>a>svg {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 23px
}

.header-tools.header-tools--style-1 .header-account>a>svg {
    width: 20px;
    height: 23px
}

.header-tools.header-tools--style-1 .header-cart>a>svg {
    width: 22px;
    height: 24px
}

@media (max-width:720px) {
    .header-tools.header-tools--style-1 .header-cart>a>svg {
        width: 21px;
        height: 21px
    }
}

.header-tools.header-tools--style-2 .header-account>a>svg {
    width: 19px;
    height: 20px
}

.header-tools.header-tools--style-2 .header-cart>a>svg {
    width: 21px;
    height: 22px
}

.header-tools .header-cart a {
    position: relative
}

.header-tools .header-cart-count {
    position: absolute;
    top: 7px;
    right: 8px;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: var(--link-color);
    color: var(--background-color);
    font-size: 11px;
    font-weight: var(--header-font-weight);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1;
    text-align: center
}

.header-tools .header-cart-count:empty {
    display: none
}

.header-tools.header-tools--style-0 .header-cart-count {
    top: 10px;
    right: 8px;
    padding: 5px;
    border-radius: 10px;
    line-height: 0;
    text-indent: -9999px
}

@media (max-width:720px) {
    .header-tools.header-tools--style-0 .header-cart-count {
        right: 0
    }
}

.header--logo-center .header-logo {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px
}

.header--logo-center .header-tools {
    flex: 1 1 100%
}

@media (max-width:720px) {
    .header--logo-center .header-tools {
        width: 50px
    }
}

.main-header localization-form button,
.main-header.is-fullbleed:hover localization-form button {
    border: 0
}

.main-header localization-form ul.localization__list,
.main-header.is-fullbleed:hover localization-form ul.localization__list {
    background-color: var(--header-background-color);
    border: 1px solid var(--header-color-opacity-80)
}

.main-header localization-form ul.localization__list li:focus,
.main-header localization-form ul.localization__list li:focus-within,
.main-header localization-form ul.localization__list li:hover,
.main-header localization-form ul.localization__list li[selected],
.main-header.is-fullbleed:hover localization-form ul.localization__list li:focus,
.main-header.is-fullbleed:hover localization-form ul.localization__list li:focus-within,
.main-header.is-fullbleed:hover localization-form ul.localization__list li:hover,
.main-header.is-fullbleed:hover localization-form ul.localization__list li[selected] {
    background: var(--header-hover-background-color)
}

.main-header localization-form ul.localization__list a,
.main-header.is-fullbleed:hover localization-form ul.localization__list a {
    color: var(--header-text-color)
}

.no-js .main-header localization-form,
.no-js .main-header.is-fullbleed:hover localization-form {
    display: none
}

.no-js .main-header .header-tools,
.no-js .main-header.is-fullbleed:hover .header-tools {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start
}

.no-js .main-header .localization-form__noscript .localization-selector-country,
.no-js .main-header.is-fullbleed:hover .localization-form__noscript .localization-selector-country {
    border: 1px solid var(--header-text-color)
}

.main-header.is-fullbleed:hover.is-fullbleed:not(:hover) localization-form button,
.main-header.is-fullbleed:not(:hover) localization-form button {
    color: var(--header-fullbleed-color)
}