.main-navigation {
    z-index: 1
}

.footer-tapbar {
    z-index: 2
}

.header-search-results-wrapper {
    z-index: 3
}

.header-search-input-wrapper {
    z-index: 4
}

.product-info {
    z-index: 5
}

.main-header {
    z-index: 6
}

.main-navigation-wrapper {
    z-index: 7
}

.header-wrapper {
    z-index: 8
}

.product-message {
    z-index: 9
}

.product-images-lightbox {
    z-index: 10
}

.screen-reader {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(1px, 1px, 1px, 1px)
}

.grid {
    font-size: 0
}

.grid-item,
[class*=grid-item] {
    font-size: var(--body-size);
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    vertical-align: top
}

@media (max-width:720px) {

    .grid-item,
    [class*=grid-item] {
        font-size: var(--body-size-mobile)
    }
}

.grid-item-100 {
    display: block;
    width: 100%
}

.grid-item-83 {
    width: 83.333%
}

.grid-item-75 {
    width: 75%
}

.grid-item-70 {
    width: 70%
}

.grid-item-66 {
    width: 66.666%
}

.grid-item-60 {
    width: 60%
}

.grid-item-58 {
    width: 58.333%
}

.grid-item-55 {
    width: 55%
}

.grid-item-50 {
    width: 50%
}

.grid-item-45 {
    width: 45%
}

.grid-item-41 {
    width: 41.666%
}

.grid-item-40 {
    width: 40%
}

.grid-item-35 {
    width: 35%
}

.grid-item-33 {
    width: 33.333%
}

.grid-item-30 {
    width: 30%
}

.grid-item-27 {
    width: 26.666%
}

.grid-item-25 {
    width: 25%
}

.grid-item-20 {
    width: 20%
}

.grid-item-16 {
    width: 16.666%
}

.grid-item-15 {
    width: 15%
}

.grid-item-12 {
    width: 12%
}

.grid-item-10 {
    width: 10%
}

.grid-item-5 {
    width: 5%
}

.index-sliding-text {
    padding: 24px 0
}

.index-sliding-text .index-sliding-text__wrapper--medium {
    padding: 8px 0
}

.index-sliding-text .index-sliding-text__wrapper--large {
    padding: 24px 0
}

.index-sliding-text__wrapper {
    display: block;
    transform: translateZ(0);
    white-space: nowrap
}

.index-sliding-text__wrapper a {
    color: inherit
}

.index-sliding-text__wrapper--body {
    font-family: var(--body-font)
}

.index-sliding-text__wrapper--heading {
    font-family: var(--header-font)
}

.index-sliding-text__wrapper--small {
    font-size: 2rem;
    letter-spacing: var(--header-letter-spacing)
}

.index-sliding-text__wrapper--medium {
    font-size: 3rem;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.index-sliding-text__wrapper--large {
    font-size: 4rem;
    letter-spacing: var(--header-letter-spacing);
    font-weight: 700;
}

.index-sliding-text__wrapper.reduced-motion {
    text-align: center;
    display: block
}

.index-sliding-text__wrapper.reduced-motion .index-sliding-text__item,
.index-sliding-text__wrapper.reduced-motion .index-sliding-text__wrapper__block__inner {
    display: block
}

.index-sliding-text__wrapper.reduced-motion .index-sliding-text__wrapper__block {
    white-space: initial
}

.index-sliding-text__wrapper__block {
    display: inline-block;
    width: auto;
    white-space: nowrap
}

.index-sliding-text__wrapper__block span {
    padding: 0 40px;
    display: inline-flex;
    align-items: center
}

.index-sliding-text__wrapper--body .index-sliding-text__wrapper__block span {
    align-items: baseline
}

.index-sliding-text__wrapper__block__inner {
    display: inline-block;
    animation: marquee 24s linear infinite;
    animation-play-state: paused
}

@media screen and (min-width:768px) {
    .index-sliding-text__wrapper__block__inner {
        animation-duration: 40s
    }
}

.index-sliding-text__wrapper__block__inner.cloned {
    animation: marquee2 24s linear infinite
}

@media screen and (min-width:768px) {
    .index-sliding-text__wrapper__block__inner.cloned {
        animation-duration: 40s
    }
}